<!DOCTYPE html>
<html>
  <head>
    <title>Yes.</title>
    <style type="text/css" media="screen">
      * { margin: 0; padding: 0 }
      body {
        font-family: Georgia, Times, "Times New Roman", serif;
        font-size: 16px;
      }
      h1 {
        clear: both;
        text-align: center;
        letter-spacing: -20px;
        font-size: 400px;
        font-family: "Trebuchet MS", "Helvetica Neue", Helvetica, sans-serif;
      }
      p {
        text-align: center;
      }
      p em {
        font-size: 1.1875em;
      }
      small {
        font-size: 0.75em;
      }
    </style>
  </head>
  <body>
    <h1 class="content answer">
      <%= goals < 20 ? "Yes" : "Nope" %>
    </h1>
    <p>
      So far, <a href="https://www.google.com/search?tbm=isch&q=fernando+torres+goals">El Niño</a> has <em><%= goals %></em> goals to his name.<br>
      <% if goals < 20 %>
        Will he make it to 20?<br>
      <% end %>
      <small>
        Score out of date? <a href="/refresh_score">Refresh</a>
      </small>
    </p>
  </body>
</html>
